<% provide(:title, 'About') %>
<h1>About</h1>

<p>
  This sample application was developed by Steve Swett.  The point is to demonstrate my ability to develop a basic
  application using Ruby on Rails.  It serves no practical end-user purpose.  In fact, in order to limit my time
  investment, the UI/UX was not designed to be slick and convenient (no fancy inline editing here).  The app is used
  to create articles and "pages" (a collection of articles).
</p>

<p>
  The following technologies were used:
  <ul>
    <li>Ruby on Rails (including SASS for CSS, REST)</li>
    <li>HTML 5</li>
    <li>jQuery</li>
    <li>Amazon Simple Storage Service (S3) - for storing uploaded pictures and movies</li>
    <li>Bootstrap</li>
    <li>Bitbucket (for remote VCS repository)</li>
    <li>Heroku and Heroku Toolbelt (for production deployment)</li>
    <li>RubyMine IDE on Windows (for editing, debugging, testing, etc.)</li>
  </ul>
</p>

<p>
  If you want to poke around, please pick up some tips by reading the <%= link_to 'Help', help_path %> page.
</p>

<p>
  The source code to this project can be found
  <a href="https://bitbucket.org/sswett/page_maker_app" target="_blank">here</a>.
</p>
