<% provide(:title, 'Help') %>
<h1>Help</h1>

<p>
  This application allows you to work with two types of resources: Articles and Pages.  Each Article resource actually
  has two articles: a "main" and a "side."  An optional picture and movie can be uploaded to an article.  The picture
  and movie can be placed anywhere within an article body.
</p>

<p>
  A page is simply a collection of up to 4 articles.  There are 4 panels on a page.  You can choose the article and
  article style (basic appearance) for each panel.
</p>

<p>
  First go to <%= link_to 'Articles', articles_path %> to create or edit articles.  Preview them by
  using Show.
</p>

<p>
  Then go to <%= link_to 'Pages', '#' %> to create or edit pages.  Preview them by
  using Show.  There's nothing else you can do with the pages.  Remember, this sample app is just to demonstrate
  my ability to develop a basic web app using Ruby on Rails.
</p>
