<div class="center jumbotron">
  <h1>Welcome to the Page Maker App</h1>

  <h2>
    For info about this sample project, including source code, please see the
    <%= link_to 'About', about_path %> page.
  </h2>

</div>
