<li>
  <%= link_to 'Edit', edit_article_path(article) %>
  <%= link_to 'Show', article %>
  <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>

  <%-# seems like the following should have content assist, but does not -%>
  <div class="index_item_title">
    <%= article.title %>
  </div>

</li>