<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@article) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%- # seems like we should be able to get content assist here (but don't) -%>
        <%= f.label :title, '* Title' %>
        <%= f.text_field :title, class: 'form-control', autofocus: 'autofocus' %>


        <%= f.label :picture_file, 'Picture file (optional)' %>

        <%- # the complex if/else logic here is for showing the picture client side before saving -%>
        <% if @article.picture_file? %>
            <div id="picture_container">
              <div id="existing_pic_name">
                Existing picture: <%= @article.picture_file %>
              </div>
              <%= image_tag @article.picture_file.url, id: 'picture_preview' %>
            </div>
        <% else %>
            <div id="picture_container" class="zero_height">
              <div id="existing_pic_name">
                Existing picture: <%= @article.picture_file %>
              </div>
              <%= image_tag '', id: 'picture_preview', class: 'zero_height' %>
            </div>
        <% end %>

        <%= f.file_field :picture_file, class: 'input_file', accept: 'image/jpeg,image/gif,image/png' %>


        <%= f.label :picture_alt_text %>
        <%= f.text_field :picture_alt_text, class: 'form-control' %>

        <%= f.label :picture_caption %>
        <%= f.text_field :picture_caption, class: 'form-control' %>


        <%= f.label :movie_file, 'Movie file (optional, mp4 only)' %>

        <%- # the complex if/else logic here is for showing the movie client side before saving -%>
        <% if @article.movie_file? %>
            <div id="movie_container">
              <div id="existing_movie_name">
                Existing movie: <%= @article.movie_file %>
              </div>
              <%= video_tag @article.movie_file.url, id: 'movie_preview', controls: 'controls' %>
            </div>
        <% else %>
            <div id="movie_container" class="zero_height">
              <div id="existing_movie_name">
              </div>
              <%= video_tag @article.movie_file.url, id: 'movie_preview', class: 'zero_height', controls: 'controls' %>
            </div>
        <% end %>

        <%= f.file_field :movie_file, class: 'input_file', accept: 'video/mp4' %>


        <%= f.label :movie_alt_text %>
        <%= f.text_field :movie_alt_text, class: 'form-control' %>

        <%= f.label :movie_caption %>
        <%= f.text_field :movie_caption, class: 'form-control' %>



        <%= f.label :main_article_header, '* Main article header' %>
        <%= f.text_field :main_article_header, class: 'form-control' %>

        <%= f.label :main_article_body, '* Main article body' %>
        <div>
          Available keywords: <strong>!picture</strong> or <strong>!movie</strong> = insert picture/movie;
          <strong>!break</strong> = two line feeds
        </div>
        <%= f.text_area :main_article_body, class: 'form-control', rows: 5 %>

        <%= f.label :main_article_footer %>
        <%= f.text_field :main_article_footer, class: 'form-control' %>

        <%= f.label :side_article_header %>
        <%= f.text_field :side_article_header, class: 'form-control' %>

        <%= f.label :side_article_body %>
        <div>
          Available keywords: <strong>!picture</strong> or <strong>!movie</strong> = insert picture/movie;
          <strong>!break</strong> = two line feeds
        </div>
        <%= f.text_area :side_article_body, class: 'form-control', rows: 5 %>

        <%= f.label :side_article_footer %>
        <%= f.text_field :side_article_footer, class: 'form-control' %>


        <%= f.submit 'Save', class: 'btn btn-primary' %>

        <%- # Apparently, it's a little tricky using a "button_to" -%>
        <%= link_to 'Cancel', :back, class: 'link_button btn btn-default wide_cancel' %>

    <% end %>

  </div>
</div>

<%- # TODO: consider coverting following Javascript to CoffeeScript and placing in asset pipeline -%>

<script type="text/javascript">

  createUploadFileOnChangeHandler('#article_picture_file', 'picture', 3, '#existing_pic_name', '#picture_preview');

  createUploadFileOnChangeHandler('#article_movie_file', 'movie', 10, '#existing_movie_name', '#movie_preview');

</script>