<% provide(:title, 'All Articles') %>

<h1>All Articles</h1>

<div>
<%= link_to 'Create New Article', new_article_path %>
</div>

<%= will_paginate %>

<ul class="index_list">
  <%= render @articles %>
</ul>
