<% provide(:title, @article.title) %>
<div class="row">

  <h2>Article Details - <%= @article.title %> <small><%= link_to '[edit]', edit_article_path(@article) %></small></h2>

  <%= render 'shared/one_article',
             p_article: @article,
             p_main_article_elem_class: 'col-md-8',
             p_side_article_elem_class: 'col-md-4'  %>

</div>