<% if p_article.movie_caption? %>
    <div class="movie_container">
      <%= video_tag p_article.movie_file.url, class: 'movie_render', controls: 'controls', alt: p_article.movie_alt_text %>
    </div>
    <div class="movie_caption">
      <%= p_article.movie_caption %>
    </div>
<% else %>
    <%= video_tag p_article.movie_file.url, class: 'movie_render_float_left', controls: 'controls', alt: p_article.movie_alt_text %>
<% end %>