<section class="article_container">

  <article class="article_main <%= p_main_article_elem_class %>">
    <header>
      <%= p_article.main_article_header %>
    </header>
    <section>
      <%= render 'shared/section_with_tokens',
                 p_article: p_article,
                 token_array: p_article.get_main_article_body_as_tokens %>
    </section>
    <footer>
      <%= p_article.main_article_footer %>
    </footer>
  </article>

  <% if !p_article.side_article_body.empty? %>
  <aside class="article_aside <%= p_side_article_elem_class %>">
    <header>
      <%= p_article.side_article_header %>
    </header>
    <section>
      <%= render 'shared/section_with_tokens',
                 p_article: p_article,
                 token_array: p_article.get_side_article_body_as_tokens %>
    </section>
    <footer>
      <%= p_article.side_article_footer %>
    </footer>
  </aside>
<% end %>

</section>
