<div class="page_panel col-md-6">
  <div class="inner_panel panel_style_<%= p_style_number %>">
    <% if p_article %>
        <%= render 'shared/one_article',
                   p_article: p_article,
                   p_main_article_elem_class: get_main_article_elem_class(p_article),
                   p_side_article_elem_class: get_side_article_elem_class(p_article)  %>
    <% else %>
        (Panel <%= p_panel_number %>)
    <% end %>
  </div>
</div>
