<% if p_article.picture_caption? %>
    <div class="picture_container">
      <%= image_tag p_article.picture_file.url, class: 'picture_render', alt: p_article.picture_alt_text %>
    </div>
    <div class="picture_caption">
      <%= p_article.picture_caption %>
    </div>
<% else %>
    <%= image_tag p_article.picture_file.url, class: 'picture_render_float_left', alt: p_article.picture_alt_text %>
<% end %>