<%
   token_array.each do |token|

     case token
       when '!picture'
%>
        <%= render 'shared/picture', p_article: p_article if p_article.picture_file? %>
    <% when '!movie' %>
        <%= render 'shared/movie', p_article: p_article if p_article.movie_file? %>
    <% when '!break' %>
        <br/><br/>
    <% else %>
        <%= token %>
    <% end %>

<% end %>