<div class="form_panel_options">

<label for="article_id_panel_<%= panel_number %>">Panel <%= panel_number %> article</label>

<%= select('article_id', "panel_#{panel_number}", @all_articles.collect {|a| [ a.title, a.id ] },
           { include_blank: true, selected: @pa_article_id["panel_#{panel_number}".to_sym] },
           { class: 'form-control' } ) %>

<label for="style_number_panel_<%= panel_number %>">Panel <%= panel_number %> style</label>

<%= select('style_number', "panel_#{panel_number}", @all_styles.collect {|s| [ s[:title], s[:id] ] },
           { include_blank: true, selected: @pa_style_number["panel_#{panel_number}".to_sym] },
           { class: 'form-control' } ) %>

</div>