<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@page) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%- # seems like we should be able to get content assist here (but don't) -%>
        <%= f.label :title, '* Title' %>
        <%= f.text_field :title, class: 'form-control', autofocus: 'autofocus' %>

        <div class="panels_depiction">
          <div class="panels_caption">
            Page layout
          </div>
          <div class="depiction_row row">
            <div class="depiction_col col-md-3 depiction_top depiction_left">
              Panel 1
            </div>
            <div class="depiction_col col-md-3 depiction_top depiction_right">
              Panel 2
            </div>
          </div>
          <div class="depiction_row row">
            <div class="depiction_col col-md-3 depiction_bottom depiction_left">
              Panel 3
            </div>
            <div class="depiction_col col-md-3 depiction_bottom depiction_right">
              Panel 4
            </div>
          </div>
        </div>

        <% 4.times do |n| %>
            <%= render 'form_panel_options', panel_number: n + 1 %>
        <% end %>

<%- # The following block was temporarily inline until I moved it to a partial as shown above -%>
<% if false %>
        <%= f.label "article_id_panel_1", 'Panel 1 article' %>
        <%= select('article_id', 'panel_1', @all_articles.collect {|a| [ a.title, a.id ] },
                   { include_blank: true, selected: @pa_article_id[:panel_1] },
                   { class: 'form-control' } ) %>

        <%= f.label "style_number_panel_1", 'Panel 1 style' %>
        <%= select('style_number', 'panel_1', @all_styles.collect {|s| [ s[:title], s[:id] ] },
                   { include_blank: false, selected: @pa_style_number[:panel_1] },
                   { class: 'form-control' } ) %>
<% end %>

        <%= f.submit 'Save', class: 'btn btn-primary' %>

        <%- # Apparently, it's a little tricky using a "button_to" -%>
        <%= link_to 'Cancel', :back, class: 'link_button btn btn-default wide_cancel' %>

    <% end %>

  </div>
</div>
