<li>
  <%= link_to 'Edit', edit_page_path(page) %>
  <%= link_to 'Show', page %>
  <%= link_to 'Delete', page, method: :delete, data: { confirm: 'Are you sure?' } %>

  <%-# seems like the following should have content assist, but does not -%>
  <div class="index_item_title">
    <%= page.title %>
  </div>

</li>