<% provide(:title, @page.title) %>

<div class="row">
  <h2>Page Details - <%= @page.title %> <small><%= link_to '[edit]', edit_page_path(@page) %></small></h2>
</div>

<div class="row first_panel_row">
  <%= render 'shared/one_panel', p_article: @panel_1_article, p_style_number: @panel_1_style, p_panel_number: 1 %>
  <%= render 'shared/one_panel', p_article: @panel_2_article, p_style_number: @panel_2_style, p_panel_number: 2 %>
</div>

<div class="row second_panel_row">
  <%= render 'shared/one_panel', p_article: @panel_3_article, p_style_number: @panel_3_style, p_panel_number: 3 %>
  <%= render 'shared/one_panel', p_article: @panel_4_article, p_style_number: @panel_4_style, p_panel_number: 4 %>
</div>


<%- # The rest of the page is only output in a development environment -%>

<% if Rails.env.development? %>
<div class="page_article_data row">

  <div>
    Attached articles:
  </div>

  <ul>
    <% @page.attached_articles.each do |attached_article| %>
        <li>
          Page id: <%= attached_article.page_id %>,
          Article id: <%= attached_article.article_id %>,
          Panel number: <%= attached_article.panel_number %>,
          Style number: <%= attached_article.style_number %>
        </li>
    <% end %>
  </ul>

  <div>
    Attached article content:
  </div>

  <ul>
    <% @page.articles.each do |article| %>
        <li>
          Id: <%= article.id %>,
          Title: <%= article.title %>,
          Main article hdr: <%= article.main_article_header %>
        </li>
    <% end %>
  </ul>

</div>
<% end %>