@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium: gray;
$gray-medium-shade-lighter: #ADADAD;
$gray-medium-light: #eaeaea;
$gray-light: #f7f7f7;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 30px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.input_file {
  border: none;
  margin-top: 5px;
}

.link_button {
  width: 100%;
}

.wide_cancel {
  margin-top: 10px;
}

.form_panel_options {
  margin-top: 30px;
  margin-bottom: 30px;
}

.panels_depiction {
  margin-top: 30px;
}

.panels_caption {
  font-weight: bold;
  margin-bottom: 10px;
}

.depiction_row {
  margin-left: 0;
}

.depiction_col {
  height: 100px;
  text-align: center;
  padding-top: 35px;
}

.depiction_top {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.depiction_bottom {
  border-bottom: 1px solid black;
}

.depiction_left {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.depiction_right {
  border-right: 1px solid black;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* footer */

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-medium-shade-lighter;
  a {
    color: $gray-medium-shade-lighter;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

ul.pagination {
  margin: 0;
}

.zero_height {
  height: 0;
  display: none;
}

/* Override the nav menu text -- was a little too dark to read */

.navbar-inverse .navbar-nav li a {
  color: $gray-medium-light;
}


.navbar-inverse .navbar-nav li .dropdown-menu li a {
  color: $gray-darker;
}


/* index list */

.index_list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.index_item_title {
  display: inline-block;
  margin-left: 10px;
}


/* Article editing */

#picture_preview
{
  max-width: 300px;
  max-height: 300px;
}

#movie_preview
{
  max-width: 300px;
}


/* Article rendering */

.article_container {

  .article_main {
    header {
      font-size: 1.3em;
      margin-bottom: 10px;
      font-weight: normal;
    }
    section {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    footer {
      font-size: 1.2em;
      margin-bottom: 10px;
      font-weight: normal;
    }
  }

  .article_aside {

    border-left: 1px solid black;

    header {
      font-size: 1.2em;
      margin-bottom: 8px;
      font-weight: normal;
    }
    section {
      font-size: 0.9em;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    footer {
      font-size: 1.1em;
      margin-bottom: 8px;
      font-weight: normal;
    }
  }

  .picture_container, .movie_container {
    margin: 6px;
  }

  .picture_caption, .movie_caption {
    margin-left: 6px;
    margin-bottom: 6px;
    font-weight: bold;
  }

}

.picture_render {
  max-width: 300px;
  max-height: 300px;
}

.picture_render_float_left {
  max-width: 300px;
  max-height: 300px;
  margin: 6px;
  float: left;
}

.movie_render {
  max-width: 300px;
}


.movie_render_float_left {
  max-width: 300px;
  margin: 6px;
  float: left;
}


/* Page rendering */

.second_panel_row {
  margin-top: 40px;
}

.page_panel {

  .inner_panel {
    padding: 15px 5px 5px 5px;
  }

  .article_main {
    .picture_render {
      max-width: 240px;
      max-height: 240px;
    }

    .picture_render_float_left {
      max-width: 240px;
      max-height: 240px;
      margin: 6px;
      float: left;
    }

    .movie_render {
      max-width: 240px;
    }

    .movie_render_float_left {
      max-width: 240px;
      margin: 6px;
      float: left;
    }
  }

  .article_aside {
    .picture_render {
      max-width: 180px;
      max-height: 180px;
    }

    .picture_render_float_left {
      max-width: 180px;
      max-height: 180px;
      margin: 6px;
      float: left;
    }

    .movie_render {
      max-width: 180px;
    }

    .movie_render_float_left {
      max-width: 180px;
      margin: 6px;
      float: left;
    }
  }
}

.panel_style_1 {
  background-color: cornsilk;
  box-shadow: 3px 3px 6px #888;
}

.panel_style_2 {
  background-color: lightsteelblue;
  border: 1px solid black;
}

.panel_style_3 {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.page_article_data {
  margin-top: 40px;
}