<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "page maker app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Help', help_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
        <li><%= link_to 'Pages', pages_path %></li>
      </ul>
    </nav>
  </div>
</header>
